# Dependencies
**/node_modules/

# Build output
**/dist/
**/.next/

# Environment files
**/.env
**/.env.*
!**/.env.example

# Logs
**/*.log
**/npm-debug.log*

# OS
.DS_Store
Thumbs.db

# TypeScript incremental build info
**/*.tsbuildinfo

# Misc
*.pid
